
<div>

    <div class="row d-flex align-items-center">


        <div class="col">
            <div class="d-flex justify-content-start ">

                 <img src="assets/logo24.png" alt=""  routerLink=""/>

            </div>


        </div>


        <div class="col">
            <div class="d-flex justify-content-end">


                <nav class="navbar navbar-expand-sm" style="background-color: #7e60fb;">

                    <ul class="navbar-nav">
                        <li routerLink="presentation" class="nav-link text-white" rou > A propos </li>
                        <li routerLink="aide" class="nav-item" class="nav-link text-white" > Aide </li>
                        <li routerLink="connexion" class="nav-item" class="nav-link text-white" >Login</li>
                    </ul>
                </nav>


            </div>


        </div>

    </div>
</div>