
<div>

    <div class="row d-flex align-items-center">


        <div class="col">
            <div class="d-flex justify-content-start ">

                <a href="/labplan/"> <img src="assets/logo24.png" alt="" /></a>

            </div>


        </div>


        <div class="col">
            <div class="identif d-flex justify-content-end">


                <nav class="navbar navbar-expand-sm" style="background-color: #7e60fb;">

                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-white" href="/labplan/presentation"> A propos </a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-white" href="/labplan/aide"> Aide </a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/labplan/connexion">Login</a></li>
                    </ul>
                </nav>


            </div>


        </div>

    </div>
</div>