<div class="row">
    <div class="col">
        <img class="img-fluid" src="/images/bandeau6.png" />
    </div>
</div>

<div class="row">

    <h1>Labplan: une application web pour faciliter la gestion de vos essais en laboratoire</h1>

    <div>
        <p>Après plusieurs années d'activité dans le test et contrôle de conformité de produits électroniques, j'ai eu besoin de me doter d'un outil 
        fiable et pratique. Aucune application sur le marché ne répondait précisement à mes besoins à un coût acceptable. Par conséquent, j'ai entrepris d'utiliser mes 
        compétances en programmation web pour développer ma propre application taillée sur mesure. </p>
            
            <p>	<strong>Principe de fonctionnement:</strong><br><br>
                • L'application permet la gestion des quailfications de produits électroniques <br>
                • Vous devez créer un compte utilisateur. <br>
                • Une qualification se compose d'une suite d'essais. <br>
                • Un essai est la réalisation d'une procédure de test. <br>
                • Un test concerne plusieurs échantillons <br>
                • Un test peut comprendre plusieurs séquences <br>
                • Un échantillon peut intervenir dans plusieurs essais et plusieurs séquences. <br>
                
                                </p>
            
            <p>	<strong>Mise en oeuvre:</strong><br><br>
                • Créer une qualification à partir du formulaire dédié  <br>
                • Créer ou utiliser les essais déjà définis pour définir le contenu de la qualification. <br>
                • Créer les échantillons de test à partir du formulaire associé. <br>
                • Créer les séquences de test en associant les échantillons <br>
                • Compléter les séquences de test avec les résultats observés au cours des essais <br>
                • Vous pouvez modifier les éléments de la quaification à loisir <br>
                
                
                                </p>
                                
    </div>
</div>
