<div class="row mt-3 d-flex justify-content-center">
    <div class="col text-center">

        <img class="img-fluid" src="assets/bandeau4.png" alt="" />
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col text-center">

        <h1>Espace personnel</h1>
    </div>

</div>


<div class="row">
    <div class="donnees col-lg-6" style="margin: 5px;">

        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <h3>
                    <strong>Vos données</strong>
                </h3>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <p>Nom: Lopez</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center">

            <div class="col text-center">
                <p>Prénom: Michel</p>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <p>email: michel@cdvi.com</p>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <a href="/labplan/compte/modifier"><button type="button" class="btn mb-1 bouton2"
                        style="background-color: #7e60fb; color: white;">Modifier</button></a>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <a class="btn mb-1 bouton2" style="background-color: #7e60fb; color: white;" href="@">Déconnexion</a>
        </div>

    </div>
    <div class="col donnees" style="margin: 5px;">

        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <h3>
                    <strong>Fonctionnalités</strong>
                </h3>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <a th:href="@{/private/activite/site/incidents}"><button type="button" class="btn mb-1 bouton2"
                        style="background-color: #7e60fb; color: white;">Voir
                        les sites</button></a>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col text-center">
            <a th:href="@{/private/activite/site/incidents}"><button type="button" class="btn mb-1 bouton2"
                    style="background-color: #7e60fb; color: white;">Voir
                    les incidents</button></a>
                    </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col text-center">
            <a th:href="@{/private/activite/site/declarer}"><button type="button" class="btn mb-1 bouton2"
                    style="background-color: #7e60fb; color: white;">Déclarer
                    un incident</button></a>
                    </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col text-center">
            <a th:href="@{/private/activite/site/creer}"><button type="button" class="btn mb-1 bouton2"
                    style="background-color: #7e60fb; color: white;">Créer
                    un site</button></a>
                    </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col text-center">
            <a th:href="@{/private/activite/site/defaut/selectionner/produit}"><button type="button"
                    class="btn mb-1 bouton2" style="background-color: #7e60fb; color: white;">Associer un
                    incident</button></a>
                    </div>
        </div>

    </div>


</div>