<div class="container">

  
    <div class="row mb-3 mt-3">
        <div class="col">
            <img class="img-fluid" src="assets/bandeau1.png" />
        </div>
    </div>

    <div class="row">

        <h1>Entrez vos identifiants de connexion ou créer un compte.</h1>

    </div>
    <div class="row">

        <div class="col">

           <!--<form --> 
                method="post">
                <div>
                    <h3 style="color: red;">Erreur! Vérifiez vous
                        identifiants de connexion</h3>

                </div>
                <div class="form-group">
                    <label for="email">Email</label> <input type="text"
                        class="form-control" name="user">

                </div>
                <div class="form-group">
                    <label for="password">Password</label> <input type="password"
                        class="form-control" name="password">
                </div>

                <div class="d-flex justify-content-end mt-3">
                    
                        <button routerLink="../compte"  class="btn" style="margin-right: 10px;background-color: #7e60fb; color: white;">Créer un compte</button>
                        <button type="submit" class="btn" style="background-color: #7e60fb; color: white;">Connexion</button>
                
                </div>

           <!--</form>--> 


        </div>
    </div>
   

</div>
