<div class="row">
    <div class="col">
        <img class="img-fluid" src="/images/bandeau1.png"  />
    </div>
</div>

<div class="message row">

    <h1>Entrez vos identifiants de connexion ou créer un compte.</h1>

</div>
<div class="row">

    <div class="col">

        <form class="formulaire" 
             method="post">
            <div>
                <h3> style="color: red;" Erreur! Vérifiez vous
                    identifiants de connexion</h3>

            </div>
            <div class="form-group">
                <label for="email">Email</label> <input type="text"
                    class="form-control" name="user">

            </div>
            <div class="form-group">
                <label for="password">Password</label> <input type="password"
                    class="form-control" name="password">
            </div>

            <div class="float-right">
                <a href="compte"><button type="button" class="btn" style="background-color: #7e60fb; color: white;">Créer
                        un compte</button></a>
                <button type="submit" class="btn" style="background-color: #7e60fb; color: white;">Connexion</button>
            </div>

        </form>


    </div>
</div>
