<div class="row mt-3">
    <div class="col text-center">
        <img class="img-fluid" src="assets/bandeau6.png" />
    </div>
</div>

<div class="row">

    <h1>Description des essais CEM</h1>

    <div>


        <p>
            <strong>Immunité aux transitoires rapides en salves</strong><br>
            <br> • Norme de base: EN 61000-4-4 <br> • Impulsion de
            faible energie <br> • Simulation des pertubations liées aux
            coupures et établissements de courant dans les installation BT <br>


        </p>

        <p>
            <strong>Immunité aux ondes de choc</strong><br> <br> •
            Norme de base: EN 61000-4-5 <br> • Simulation des résiduel de
            foudre <br>



        </p>

        <p>
            <strong>Immunité aux décharges électrostatiques</strong><br> <br>
            • Norme de base: EN 61000-4-2 <br> • Simulation de décharges
            électrostatiques dans l'air, au contact direct ou indirect <br>



        </p>

        <p>
            <strong>Immunité aux creux et variations de tension</strong><br>
            <br> • Norme de base: EN 61000-4-11 <br> • Simulation des
            pertubations aléatoires d'un réseau BT <br>



        </p>

        <p>
            <strong>Immunité aux champs électromagnétiques conduits</strong><br>
            <br> • Norme de base: EN 61000-4-6 <br> • Simulation des
            pertubations propagées dans le réseau BT par conduction <br>



        </p>

        <p>
            <strong>Immunité aux champs électromagnétiques rayonnés </strong><br>
            <br> • Norme de base: EN 61000-4-6 <br> • Simulation des
            pertubations affectant l'EUT par rayonnement <br>



        </p>



        <p>
            <strong>Mesures d'harmiques de courants</strong><br> <br>
            • Norme de base: EN 61000-3-2 <br>


        </p>

        <p>
            <strong>Mesures de fluctuations de tension et flickers</strong><br>
            <br> • Norme de base: EN 61000-3-3 <br>


        </p>

        <p>
            <strong>Mesures d'émissions rayonnées</strong><br>
            <br> • Norme de base: EN 55032 <br>


        </p>

        <p>
            <strong>Mesures d'émissions conduites</strong><br>
            <br> • Norme de base: EN 55032 <br>


        </p>
    </div>

</div>