

<div>

    <div class="row d-flex align-items-start">

        <div class="col">
            <div class="d-flex justify-content-start">

                <p>
                    <strong>Michel Lopez</strong>
                    <br>Développements d'applications web<br>Développement de systèmes d'acquisition<br>Hardward,
                    Electronique embarquée<br>Contrôle de conformité, métrologie<br>
                </p>

            </div>


        </div>

        <div class="col">
            <div class="d-flex justify-content-end ">

                <p> <strong> Contact</strong> <br> Tél: 01 48 91 01 02<br>email: michel@cdvi.com<br></p>

            </div>


        </div>

    </div>
</div>